---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Free Blocker Privacy Policy">
        <h1>Free Blocker Privacy Policy</h1>

        <p>Free Blocker does not collect any user data.</p>
        <p>As such, we do not sell, share, transfer, or store any app user data.</p>
        <p>
            Our app stores your configurations on the local storage of your device. 
        <p>
            Our app runs a local VPN on your device. 
            The app does not connect to any servers owned by us. 
        </p>
        <p>
            Our app connects to the 3rd party DNS server - AdGuard (94.140.14.14). 
            Please visit their privacy policies for more information: 
            <a href="https://adguard.com/en/privacy.html"></a>
        </p>
        <p>
            Our app allows users to configure URLS from which to download 3rd party blocklist files.
            Use this feature at your own risk.
        </p>
</Layout>
