---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <body>
        <h1>Free Blocker</h1>

        <p>Free Blocker is an Android app that blocks websites.</p>
        <p>Users can manually block websites, or load in blocklists.</p>
        <p>
            Free Blocker works through DNS filtering. When a user attempts to
            visit a blocked site, they will be met with a browser error. 
        <p>
            Free Blocker uses AdGuard's DNS server (94.140.14.14) and connects
            through DoQ (DNS over QUIC).
        </p>
        <p>
            The filtering and DoQ happens in Rust, while the rest of the app is written
            in Kotlin.
        </p>
        <p>
            Free Blocker is open source under a GPL 3.0 license, and the code is
            available on <a href="https://github.com/p0tatoe/free-blocker">
                Github</a
            >.
        </p>
        <p>
            View our privacy policy <a href="/free-blocker-privacy">here</a>
        </p>
    </body>
</Layout>
