---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <body>
        <h1>Michael Lee</h1>

        <p>
            I am a recent CS grad from Georgia Tech. I am currently based in
            Boston, MA.
        </p>
        <p>
            Some of my personal projects include:
            <ul>
                <li>
                    <a href="/free-blocker">Free Blocker</a>: A website blocker
                    for Android that uses DNS filtering over QUIC. Written in
                    Kotlin and Rust
                </li>
                <li>placeholder</li>
                <li>placeholder</li>
            </ul>
        </p>

        <h1>Contact Me</h1>
        <p>
            You can reach me via email at: <a
                href="mailto:your.email@example.com">your.email@example.com</a
            >
        </p>
    </body>
</Layout>
