---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Michael Lee - Welcome">
    <h1>Welcome</h1>

    <p>Hi I'm Michael.</p>
    <p>
        I'm a recent CS grad who wants to make software that improves people's
        lives.
    </p>

    <p>
        Some of my personal projects include:
        <ul>
            <li>
                <a href="/free-blocker/info">Free Blocker</a>: A website blocker for
                Android that uses DNS filtering over QUIC. Written in Kotlin and
                Rust
            </li>
            <li>placeholder</li>
            <li>placeholder</li>
        </ul>
    </p>

    <h1>Contact Me</h1>
    <p>
        You can reach me via email at: <a
            href="mailto:michael.yarmouth.lee@gmail.com"
            >michael.yarmouth.lee@gmail.com</a
        >
    </p>
</Layout>
