<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome to My Page</title>
    </head>
    <body>
        <h1>Welcome</h1>

        <p>Hi, I'm Michael.</p>

        <h2>About Me</h2>
        <p>I am a recent CS grad from Georgia Tech.</p>
        <h2>What I Do</h2>
        <ul>
            <li>Project 1 or Skill 1</li>
            <li>Project 2 or Skill 2</li>
            <li>Project 3 or Skill 3</li>
        </ul>

        <h2>Contact Me</h2>
        <p>
            You can reach me via email at: <a
                href="mailto:your.email@example.com">your.email@example.com</a
            >
        </p>
    </body>
</html>
